# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# PRIVATE KEY
id_rsa_priv.pem

# dotenv environment variables file
.env
.env.test
.env*.local

# production
dist
.cache